.container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 900px;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.justifyAround {
  justify-content: space-around;
}

.flexWrap {
  flex-wrap: wrap;
  justify-content: center;
}

.gap30 {
  gap: 30px;
}

.gap20 {
  gap: 20px;
}

.gap10 {
  gap: 10px;
}

.displayNone {
  display: none;
}

.image {
  width: 100%;
  object-fit: contain;
}

.widthFull {
  width: 100%;
}

.noPointerEvents {
  pointer-events: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.centerMargin {
  margin: 0 auto;
}

.width80px {
  width: 80px;
}
