.optionsList {
  display: table;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  max-width: 1000px;
  white-space: nowrap;
}

.optionItem {
  display: table-row;
}

.optionItem > * {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  margin-inline: 10px;
}

.optionItem > *:first-child {
  width: 1px;
}

.title,
.weight {
  font-size: inherit;
  color: var(--primary);
  background-color: var(--primary-alpha2);
}

.title {
  overflow: hidden;
  width: 80%;
  min-width: 200px;
  text-overflow: ellipsis;
}

.weight {
  width: 10%;
  min-width: 70px;
  text-align: center;
  padding-inline: 5px;
}

.weight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 47rem) {
  .title {
    width: 70%;
  }

  .optionsList {
    border-spacing: 5px;
  }
}
